*{
    margin: 0;
    padding: 0;
}
/* -------------------------------------------------nav starts from here------------------------------------------------------------- */
nav{
    width: 100%;
    height: 50px;
}
.navbar-brand img{
    height: 80px;
    width: 100%;
}

.navbar-brand{
    padding: 0;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: #ffff;
}
a.dropdown-item{
    color: red;
    font-weight: 700;
}

@media screen and ( max-width:1000px) {
    nav{
        width: 100%;
        height: 100px;
    }

    .container-fluid{
        background-color: black;
    }
}

/* -------------------------------------------main starts from here--------------------------------------------------------------------*/

main{
    background-color: black;
    height: auto;
}

/* ---------------------------------------------footer------------------------------------------------------------------- */

.free-lancing{
    width: 100%;
    padding-top: 2%;
}

.free-lancing-info{
    width: 90%;
    margin-left: 5%;
}

.free-lancing-header{
    width: 100%;
    text-align: center;
}

.free-lancing-header p{
    font-size: 50px;
    font-weight: 700;
    color: #ffff;
    text-decoration: underline red;
}

.free-lancing-para{
    width: 100%;
    text-align: center;
}

.free-lancing-para p{
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
}


@media screen and ( max-width:300px ) {
    .free-lancing-header p{
        font-size: 30px;
    }
}

/* ---------------------------------------------footer------------------------------------------------------------------- */


.footer-main{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.aki-main{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.aki-main p{
    font-size: 18px;
    font-weight: 600;
}

.icons{
    justify-content: center;
    margin-left: 40%;
}

.aki-main img{
    height: 80px;
    width: fit-content;
}

.aki-list{
    width: 20%;
    margin-left: 5%;
}

.aki-list li{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

.aki-list li a{
    text-decoration: none;
    color: black;
}

.foot_p{
    font-size: 28px;
    font-weight: 700;
}

.contact{
    width: 20%;
    margin-left: 5%;
}

.contact p.foot_p{
    font-size: 28px;
    font-weight: 700;
}

.contact p{
    font-size: 18px;
    font-weight: 600;
}

.design-by{
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    text-align: center;
    margin-bottom: 2.5%;
    font-size: 18px;
    font-weight: 600;
    background-color: #d8d8d8;
}

@media screen and ( max-width:900px) {
    .footer-main{
        display: flex;
        flex-direction: column;
    }

    .aki-main{
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
    }
    
    .aki-main img{
        height: 60px;
        width: fit-content;
    }
    
    .aki-list{
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }
    
    .contact{
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }
}
